body {
  color:white;
  margin-top:0px;
  padding:0px;
}

.countdownContainer {
  font-family: "ubuntuMono", "Courier New", monospace;
  width:100%;
}

.countdownTop {
height:20%;
padding-left: 2em;
color:gold;
}

.countdownMiddle {
  display:flex;
  height:60%;
  padding-top: 15%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
 }

.countdownMiddle h1 {
  font-size: 40px;
  background-color: black;
}

.countdownMiddle hr {
  width:75%;
}

.countdownMiddle h3 {
  font-family: "Damion", cursive;
}

.countdownMiddle p {
  font-size: 30px;
  background-color: black;
}

.countdownBottom {
  display:flex;
  position: absolute;
  padding: 0em 1em;
  bottom:0px;
  height:20%;
  color:gold;
}
