* {
  margin:0;
}
body {
  background-color:hsl(244, 28%, 11%);
  color:#FFFFCC;
  margin:0px;
  padding:50px;
  border-top: 30px solid #FFFFCC;
  font-size: 2em;
}
 a {
  color:#FFFFCC;
 }

 ion-icon {
  float:left;
  margin-right: 5px;
 }

 textarea {
  font-size: large;
 }
