@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@font-face {
  font-family:"Futura PT";
  src:url("./assets/fonts/futurapt.ttf") format("Truetype");
  src:url("./assets/fonts/futurapt.otf") format("Opentype");
  src:url("./assets/fonts/futurapt.woff") format("Woff");
}

body {
  /* background-color: rgba(250,250,255,1); */
  padding:100px;
  padding-top:400px;
  font-family: "Nunito", sans-serif;
  background: url("../../../assets/marble.jpg");
}
main {
  background-color: rgba(250,250,255,1);
  padding:50px;
  border-radius: 25px;
  box-shadow: 5px 5px 5px 4px rgb(220, 240, 250), -5px -5px 5px 5px rgba(255,255,255,0.8);
  margin:auto;
  max-width:600px;
  cursor:crosshair;
}
li {
  font-weight: bold;
  padding-bottom:10px;
  cursor:inherit;
  transition:0.35s ease;
}
li:hover {
  color:lightcoral;
}
h4 {
  margin-bottom:50px;
}
hr {
  border-color: lightblue;
  border-width: 3px;
  border-style: solid;
}
.header-wrapper {
  color:rgb(105, 162, 183);
  border-left: 5px solid rgb(105, 162, 183);
  padding: 10px 25px 1px 25px;
  background: linear-gradient( to left, rgba(250,250,255,1) 50%, rgb(105, 162, 183) 50%);
  background-size: 200%;
  background-position: left;
  transition:4s ease;
  border-radius: 0px 20px 0px 0px;

}
.restore_slide {
  background-position: right;
}
.header-wrapper:hover {
  background-position: left;
}
.spacer {
  padding:30px;
}
.drop-through-text {
  color:rgb(220, 240, 250);
  background-color: rgb(200, 220, 250);
  text-align:right;

  font-size:6em;
  font-weight: bold;
  color: transparent;
  text-shadow: 5px 5px 9px rgba(250,250,255,1);
  -webkit-background-clip: text;
     -moz-background-clip: text;
          background-clip: text;
}
.pos-absolute {
  position:absolute;
  top:0px;
  right:50px;
}
.black-txt {
  color:rgb(57, 109, 128);
  border-color: rgb(57, 109, 128);
}
.list-header {
  transition: 2s ease;
  font-weight: bold;;
}
.list-wrapper {
  color:rgb(105, 162, 183);
}
.dark-accent-text {
  color: rgb(57, 109, 128);
}
.light-accent-text {
  color:lightcoral;
}
a {
  color:rgb(57, 109, 128);
  cursor:pointer;
}
