@media only screen and (min-width: 600px) {
    .header_left {
        font-size: 18pt;
    } 
    .footer_logo {
        width:25%;
        margin: 10% 0;
    }
    .footer_text {
        width:50%;
    }
    .footer_left {
        flex-direction: row;
        justify-content: space-between;
    }
}

@media only screen and (min-width: 800px) {
    .footer_left {
        flex-direction: column;
    }
    .footer_text {
        width:100%;
    }
    .footer_logo {
        margin:auto;
    }
    footer {
        flex-direction: row;
    }
}