@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

body {
  margin:0;
  font-family: "Montserrat";
}

/* MAIN PAGE CSS */
#main_page {
  /* margin: 5%; */
  box-sizing: border-box;
  width:90%;
  border: 5px solid black;
  margin:5% auto;
  border-radius: 15px;
  box-shadow: 0px 5px 50px 0px #e1a177;
}

/* HEADER CSS */
header {
  display:flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 25px;
  border-radius: 10px 10px 0px 0px;
  /* background: linear-gradient( 135deg, #f7ba91 20%, #e1a177 60%, transparent 60%); */
  background-color: #8ec5fc;
  background-image: url("../assets/photos/grassy_ass.png"), url("../assets/photos/clouds.jpg");
  background-size: 100%, 150%;
  background-position: center -15vw, center left;
  background-repeat: no-repeat;
  transition:7.5s ease, 20s ease;
  transition-property: background-size, background-position;
}
.zoom {
  background-size: 110%, 150%;
}
.pan {
  background-position: center -15vw, center right;
}
.header_left {
  font-family: "Lobster";
  font-size: 14pt;
  background-clip: text;
  color:white;
  text-shadow: 3px 3px 0px #e1a177;
  transition: 0.5s ease;
  transition-property: text-shadow;
}
.header_left:hover {
  text-shadow: 6px 6px 0px rgba(0,0,0,0.5);
}
.header_right {
  width:25%;
  min-width: 60px;
  max-width: 200px;
}
.header_right img {
  width:100%;
  transition: 2s;
}
.header_right img:hover {
  transform: rotate(359deg);
}

/* NAV CSS */
nav {
  border-top: 2.5px solid black;
  border-bottom: 2.5px solid black;
  position: sticky;
  top:0px;
  background-image: linear-gradient(180deg, #dea37b, white);
}
nav ul {
  display:flex;
  padding:0;
  padding-left:0;
  justify-content: space-between;
  margin:0 auto;
}
nav li {
  list-style-type: none;
  text-align: center;
}
nav a {
  text-decoration: none;
  color:#e1a177;
  flex:1;
  display:flex;
  justify-content: center;
  align-items: center;
  height:35px;
  font-weight: bold;
  background-image: linear-gradient(to bottom,#f7ba91 10%, #e1a177 50%, white 50%);
  background-size: 200% 200%;
  background-position: bottom center;
  transition: 0.7s ease;
  transition-property: background-position, color;
}
nav a:hover {
  background-position: top center;
  color:white;
}

/* CONTENT CSS */
main  {
  /* TEMP: */
  /* height:500px; */
  overflow:hidden;
}

/* FOOTER CSS */
footer {
  display:flex;
  background-color:#e1a177;
  color:white;
  border-radius: 0px 0px 10px 10px;
  flex-direction: column;
}
footer>div {
  padding:20px;
}
footer a {
  color:white;
}
.footer_left img {
  width:100%;
}
.footer_left {
  flex:2;
  display:flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  background-color: white;
  color:#e1a177;
  box-shadow: 0px 5px 25px 0px #e1a177 inset;
  border-radius: 0px 0px 0px 10px;
  border-top: 10px solid #f7ba91;

}
.footer_left p {
  font-size: 10pt;
  font-weight: lighter;
}
.footer_logo {
  width:50%;
  max-width: 200px;
  margin:auto;
}
.footer_text {
  width:100%;
  color:black;
}

.footer_center{
  flex:1;
  background-image: linear-gradient(to bottom, #f7ba91, #e1a177 25%);
  color:white;
}
.footer_center a {
  font-weight: bold;
  padding-bottom:25px;
}
.footer_center a:hover {
  color:black;
} 

.footer_center ul, .footer_right ul {
  display:flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding:20px;
}
.footer_center li, .footer_right li {
  flex:1;
}
.footer_center h3, .footer_right h3 {
  font-size: 1.5rem;
  text-align: center;
}
.footer_right {
  flex:1;
  background-image: linear-gradient(to bottom, #f7ba91, #e1a177 25%);
  border-radius: 0px 0px 10px 0px;
}
.footer_right a {
  font-weight: bold;
  padding-bottom:25px;
}
.footer_right a:hover {
  color:black;
}










/* JS DEMO 1 */
.about_text {
  display:none;
}

.reveal {
  display:block;
}

#date_element {
  text-align: center;
  margin-top:25px;
  font-size: 3rem;
  text-shadow: 2px 3px 0px black;

}

.time_wrapper {
  background-color: #e1a177;
  border-bottom: 2.5px solid black;
  background-image: url("../assets/photos/mike-kenneally-TD4DBagg2wE-unsplash.jpg");
  background-size:cover;
  background-position: top right;
  background-attachment: fixed;
  box-shadow: 0px 2px 5px 1px #f7ba91;
}
.time_wrapper_internal {
  display:flex;
  height:65vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color:white;
  background: radial-gradient(rgba(225, 161, 119,0.7), rgba(225, 161, 119,0.9));
  font-size: 1.5rem;
  font-weight: bold;
}
.time_wrapper_internal>* {
  margin:0;
}
.time_wrapper h4 {
  font-size: 4rem;
  text-shadow: 2px 3px 0px black;
  font-family: "Lobster";
  padding-bottom: 50px;
}

.internal_content {
  padding:100px 50px;
  border-bottom:2.5px solid black;
  /* margin-bottom: 15px; */
  /* background-image: linear-gradient(to bottom,#fbcdae, #fdf1e8 25%, #fdf1e8 85%, #fbcdae); */
}

.internal_content p {
  border-left: 3px solid #e1a177;
  padding-left: 10px;
}


.background_obj_wrapper {
  display:flex;
}

.background_obj {
  flex:1;
  height:200px;
  background-color:red;
  margin:10px;
  background-size: cover;
  background-position: center center;
  border-radius: 50%;
}

.img1 {
  background-image: url("../assets/photos/brooke-lark-YSA1IRkGAsg-unsplash.jpg");
}

.img2 {
  background-image: url("../assets/photos/mordo-bilman-k7EjzzK1uhk-unsplash.jpg");
}

.img3{
  background-image: url("../assets/photos/kristen-kaethler-lrfpHmuYj88-unsplash.jpg");
}
