  * {
    background-color:gold;
  }

      main {
        margin-top:15%;
        margin-bottom: auto;
        background-color:gold;
      }

      .container{
        width:75%;
        height:30vh;
        margin:auto;
        padding-top:10vh;
        text-align:center;
        font-family:Helvetica;
      }

      .buttonContainer {
        display:flex;
        justify-content: center;
        flex-wrap: wrap;
        flex-direction: row;
     }

      button {
        background-color:black;
        color:gold;
        border:2px solid black;
        padding:1em;
        margin:0.5em;
        width:9em;
        cursor:pointer;
        flex:1;
      }

      button:hover {
        color:white;
        border:2px solid white;
      }

@media only screen and (max-width:600px){
  .buttonContainer {
    flex-direction: column;
  }
  button {
    padding:2em;
    min-width: 300px; ;
  }
}
