
header {
  box-sizing: border-box;
  height:150px;
  overflow: hidden;
}

.logo {
  width: 200px;
  height:80px;
  float:left;
  margin-left: 25px;
  margin-top: 25px;
}

.Profile {
  width:396px;
  height:297.5px;
  position: relative;
  z-index:1;
  top:-100px;
  right:0px;
  float:right;
  display:block;
  margin-right: 25px;
  margin-top:15px;
}

body {
  font-family:"Futura";
  width:100%;
  margin: 0px;
  background-color: #E2E1DC;
  padding: inherit;
}

h1 {
  font-family: DolceVita;
  margin-left: 25px;
  margin-top: 25px;
  padding-top: 25px;
}

h3 {
  font-family: DolceVita;
  margin-left: auto;
  margin-right: auto;
  style: center;
}

/* NAVIGATION BUTTONS */
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

/*nav button {
  background-color: #282828;
  color:white;
}*/

.callButton {
  float:left;
  padding-top: 30px;
  text-align: center;
}

.call1, .call2, .call3, .call4 {
  text-align: center;
  position: relative;
  color:white;
  background-color:#282828;
  margin-top: 10px;
  margin-left: 5px;
  padding:8px;
}

nav button:hover {
  color:black;
  background-color:white;
}

nav button a:hover {
  color:black;
}

nav button a:visited {
  color:white;
}

nav button a:visited:hover {
  color:black;
}

nav {
  float:left;
  margin-left: 25px;
  margin-right:25px;
  margin-bottom: 25px;
  margin-top:10px;
}

a:link {
  color:white;
  background-color: transparent;
  text-decoration: none;
}
/* END OF NAVIGATION BUTTONS */

/* Contact me page */
form {
  width:40%;
}

.contactMe {
  float:right;
  margin-right: 25px;
}
/* End of contact page */

/* Style the header */
.hello {
    box-sizing:border-box;
    font-family: Futura;
    background-color: #FFFFFF;
    border-radius: solid black;
    color:#282828;
    position: relative;
    padding: 25px;
    margin-top: 0px;
    margin-left: 25px;
    margin-right: 25px;
    text-align: left;
}

.column {
    box-sizing: border-box;
    font-family: DolceVita;
    float:left;
    width: 32%;
    padding: 10px;
    height: 300px;
}

.row:after {
    content: normal;
    display: table;
    clear: both;
}

.portfolioHeader {
  font-family: Futura;
  padding-left: 40px;
}

/*Girl on laptop image*/

#center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* Style the footer */
.footer {
    font-family: Futura;
    background-color: #282828;
    color:white;
    padding: 5px;
    text-align: center;
}

background-image: URL (https://images.pexels.com/photos/57690/pexels-photo-57690.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260)


.col1, .col2, .col3 {
  style: center;
  color: black;
  height: 100px;
  /*display: inline-flex;*/
  /*margin:10px;*/
  width:33%;
}

.paragraphContent {
  color:black;
  padding:10px;
  padding-top:35px;
  font-family: Futura;
  margin-left:25px;
  margin-right: 25px;
  margin-top: 35px;
  clear:left;
}

.paragraphContent2 {
  padding:10px;
  font-family: Futura;
  margin:25px;
}

.paragraphContent3 {
  padding:10px;
  font-family: Futura;
  margin:25px;
}

/* Nick's code */

section {
    display:grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: 300px 300px;
    grid-row-gap: 15px;
    grid-column-gap: 15px;
    margin-left: 25px;
    margin-right: 25px;
  }

section div {

}

.column1, .column2, .column3, .column4 {
  font-family: Futura;
  background-color: white;
  padding: 25px;
}

textarea {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width:80%;
}

input[type=text] {
  width:90%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* about me css */

.allison {
  /*width:396px;
  height:297.5px;
  float:right;
  position:relative;
  top:25px;
  left:60%;
  display:inline-block;
  margin-right: 25px;
  margin-top:15px;*/
  width:396px;
  height:297.5px;
  position: relative;
  z-index:1;
  top:-100px;
  right:0px;
  float:right;
  display:block;
  margin-right: 25px;
  margin-top:15px;
}

.aboutMe {
  margin-left: 25px;
  margin-right: 25px;
  background-color: white;
  padding: 15px;
}

.shapeMe {
  margin-left: 25px;
  margin-right: 25px;
  background-color: white;
  padding: 15px;
}

.Education {
  margin-left: 25px;
  margin-right: 25px;
  background-color: white;
  padding: 15px;
}
/* end of about me css*/

.aboutThis {
  margin:20px;
  padding:10px;
}

.portfolio {
  margin:20px;
  padding:10px;
}

@font-face {
  font-family: "DolceVita";
  src: url("../assets/fonts/DolceVita.ttf") format("truetype");
}
