* {
  font-family:helvetica;
  margin:0px;
}

/*** Header ***/

header {
  background-color:rgb(207, 77, 49);
  color:white;
  padding:5vw;
  display:flex;
  justify-content: space-between;
  align-content: center;
}

header h3 {

}

.headerTitle {
}

.headerInfo {

}



/*** Main ***/

aside {
  width:30%;
  height:100%;
  float:left;
  background-color: rgb(207, 77, 49);
  padding:2.5vw;
  box-sizing: border-box;
}

aside img {
  border:2px solid #FFFFCC;
  border-radius: 50%;
  background-color: white;
  display:block;
  margin: auto;
}

section{
  background-color: #FFFFCC;
  box-sizing: border-box;
  width:70%;
  float:right;
  height:100%;
  padding:5vw;
  color:  rgb(207, 77, 49);
}


.paragraphContainer {
  width:50%;
  text-align: center;

}

main {
  height:700px;
}

footer {
  background-color: rgb(207, 77, 49);
  color:white;
}
