body {
  margin:0;

  background-image: url("../");

  background-size:cover;
  background-position: center center;

}


.col > img {

  width:100%;

}

h1 {
  text-align: center;
  margin-bottom: 50px;
  font-size: 3em;;
}

.bs-grid-wrapper {
  width:80%;
  background-color: blanchedalmond;
  margin:auto;
  padding:20px;
} 

.container-fluid {
  padding-left:none !important;
  padding-right:none !important;
}