.header {

}

.navbar {
  padding:10px;
}

.aside {
  float:left;
  width:40%;
  height:400px;
}

.main {
  overflow: auto;
}

.main:hover {
  border:5px solid black;
}

.section {
  float:right;
  width:60%;
  height:400px;
}

.footer {

}
