.siteBackground {
  background-image: href="./resources/images/starry_background.png";

}

.titleBox{
  align-content: center;
  margin: auto;
  width: 1920px;
  background-color: #FFFFCC;


}

.headerTitle {


}

.readVer {


}

.buttonList {

}

.mainButtons {


}
