@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&family=Pacifico&display=swap');

body {
  margin:0;
  font-family:"Comfortaa";
  width:100%;
  overflow-x: hidden;
}
table {
  width:80%;
  margin:auto;
  font-family:"comfortaa";
  border-collapse: collapse;
  border:5px solid maroon;
}
th {
  background-color: blanchedalmond;
  color:maroon;
  text-align:left;
  font-size: 16pt;
}
tr {
  background: aliceblue;
  border-bottom: 3px solid maroon;
}
th {
  padding:5px;
}
tr:hover {
  background: maroon;
  color:blanchedalmond;
}
td {
  padding:5px;
}

#c {
  background:chartreuse;
}
#d {
  color:white;
}

/* Site Styling: */

header {
  background: radial-gradient(chocolate, blanchedalmond);
  padding:20px;
  background-position: left top;
  background-size: 350% 300%;
  color:darkblue;
  display:flex;
  align-items: center;
  justify-content: space-between;
  transition: 1s ease;
}
header:hover {
  background-position: right top;
}
#logo {
  width:25%;
}
#gitti {
  width:100%;
}

nav {
  background-color: darkblue;
}
nav ul {
  display:flex;
  padding:20px;
  margin:auto;
}

nav a {
  color:blanchedalmond;
}

nav li {
  margin-right: 20px;
  list-style-type:none;
}

footer {
  color:darkblue;
  background-color: white;
}
footer ion-icon {
  width:100px;
  height:100px;
}
#insta:hover {
  color:fuchsia;
}
#snap:hover {
  color:gold;
}
#face:hover {
  color:cornflowerblue;
}

main  {
  width:80%;
  margin:auto;
  background-color:orange;
}
body {
  background-color: pink;;
}