body {
  background-color: gold;
  font-family: helvetica;
}

main {
  box-sizing: border-box;
  width:80%;
  border:4px dotted white;
  color:white;
  background-color: #FF9999;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10vh;
  padding:5% 10%;
}

.strike {
  text-decoration: line-through;
}
