/* Colors */
.header {
  background-color: rgb(93, 37, 37);
  color: rgb(93, 37, 37);
  padding: 30px;

}

.navbar {
  background-color: rgb(177, 69, 193);
  color: rgb(177, 69, 193);
  padding: 10px;

}

.aside {
  background-color: rgb(120, 172, 131);
  color: rgb(120, 172, 131);
  padding: 30px;

}

.main {
  background-color: rgb(0,0,0);
  color:rgb(0,0,0);
}

.section {
  background-color: rgb(59, 121, 168);
  color: rgb(59, 121, 168);
  padding: 30px;

}

.article {
  background-color: rgb(109, 171, 208);
  color: rgb(109, 171, 208);
  padding: 30px;

}

.footer {
  background-color: rgb(230, 115, 115);
  color: rgb(230, 115, 115);
  padding: 30px;

}

/* Basics */
  html {
    height:100%;
  }
  body {
    margin:0;
    height:100%;
  }

  * {
      box-sizing: border-box;
      text-align: center;
      font-size: 100%;
  }

  pre {
    color:pink;
  }
  .dark_txt {
    color:gold;
  }
