/* Semantics */

body {
 margin:0px;
 font-family: Futura, sans-serif;
}

main {
  width:80vw;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10vh;
  margin-bottom: 10vh;
  border:5px solid black;
}

header {
border-bottom: 5px solid black;
padding: 2.5vh 2.5vw;
height: 10vh;
overflow: hidden;
}

aside {
  float:left;
  height:80vh;
  width:35%;
  border-right:5px solid black;
  box-sizing: border-box;

}

section {
  float:right;
  height:80vh;
  width:65%;
  box-sizing: border-box;
}

.spacer {
  height:80vh;
}

footer {
  border-top:5px solid black;
  height: 15vh;
}


/************* Content *******************/

/* Header */

.headerTitle {
  float:left;
  height:11vh;
}

.headerTitle h1 {
  position: relative;
  z-index: 1;
  text-shadow: 2px 2px #F79868;
}

.headerInfo {
  text-wrap:wrap;
  text-align: right;
  float:right;
  line-height: 1vh;
}

.headerInfo h3 {
  font-size: 18px;
}

.headerInfo p {
  font-size: 12px;
}

/* Aside */

.SPLogo {
  width:75%;
  max-width: 200px;
  margin:2.5vw 2.5vw;
  display:block;
  margin-left: auto;
  margin-right: auto;
  transform:scale(120%, 120%);
  border-radius: 50%;
  border: 5px solid white;

}

aside nav {
  word-wrap: break-word;
  margin-left: 2.5vw;
  margin-right: 2.5vw;
}

aside nav ul ul {
  padding-left: 2.5vw;
}

nav ul li {
  padding-bottom: 5px;
}

nav ul ul li {
  padding: 5px 0px;
}

/* Footer */

.footerRight {
  writing-mode:vertical-rl;
  text-align: center;
  float:right;
  border-left:5px solid black;
  padding-right: 2.5vw;
  padding-left: 2.5vw;
  height:100%;
}

/************** Typography ***********/

aside h6 {
  margin-top: 0px;
  text-align: center;
  color:white;
}

/************** Hover ***************/

.SPLogo:hover {
  border-radius: 50%;
  border: 5px solid #F79868;
  cursor:pointer;
}

aside h6:hover {
  color:lightgrey;
  cursor:pointer;
}

ul li:hover {
  color:#F79868;
  cursor:pointer;
}

/* Media Queries */
@media only screen and (max-width: 500px) {
 aside {
  border-bottom: 5px solid black;
  width:100%;
 }
}
