body {
  margin:0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.hero {
  background: url("../assets/bkgrnd.jpg");
  background-size: cover;
  height:60vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

header {
  display:flex;
  justify-content: space-between;
}


@media only screen and (max-width:580px) {
  /* nav a {
    font-size: 12px;
  } */
}

@media only screen and (min-width: 1500px) {

  nav ul {
    width:65%;
  }

  nav a {
    font-size: 24pt;
  }

}