body {
  margin:0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.hero {
  background: url("../assets/bkgrnd.jpg");
  background-size: cover;
  height:60vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

header {
  display:flex;
  justify-content: space-between;
}
