.engrave1 {
  /* Set font basics */
  font-family: "Helvetica", "Arial", sans-serif;
  font-size: 30px;
  text-align: center;

  /* Set spacing */
  padding:10px 30px;

  /* Set colors */
  color:#333;
  background-color: #666;
  /* shadow creating the engraved look */
  text-shadow: 0px 1px 0px rgba(255,255,255,0.5);
}


.engrave2 {
  /* Set font basics */
  font-family: "Bely Display", serif;
  font-size: 30px;
  text-align: center;

  /* Set spacing */
  padding:10px 30px;

  /* Set colors */
  color:#361e87;
  background-color: #6477c8;
  /* shadow creating the engraved look */
  text-shadow: 0px 1px 0px rgba(255,255,255,0.5);

}
