* {
  margin:0;
  font-family: 'Zen Antique', serif;
}

header {
  background-color: rgb(192, 25, 198);
  padding:20px;
  border-bottom: 2px dotted black;
  font-family: "Righteous";
}

nav {
  border-bottom:2px dotted black;
}

.navbar {
  list-style-type: none;
  padding-left: 0px;
}

.navbar li {
  display: inline-block;
}

.navbar a {
  text-decoration: none;
  color:black;
  padding:10px;
}

.nav_first {
  margin-left: 10px;
}

.navbar li:hover a {
  color: rgb(192, 25, 198);
}

.leading {
  margin:auto;
  width:70%;
}

.section_header {
  padding:20px;
  font-size: 18pt;
  text-align: center;
}


.splash_video {
  width:70%;
  max-width: 469px;
  border:4px solid black;
  margin:20px auto;
  padding:20px;
  padding-bottom:70px;
  display:block;
  box-shadow:2px 2px 2px 2px lightgrey;
}

.audio_info {
  width:50%;
  display:block;
  height:60px;
  font-size:12pt;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 10px;
}

.desc {
  width:80%;
  margin: auto;
  color:grey;
  border-left: 2px dotted black;
  padding-left: 10px;
}

.drop_cap {
  color: rgb(192, 25, 198);
  font-size: 20pt;
  font-weight: bold;
  float: left;
  line-height: 85%;
  width: .7em;
  font-size: 400%;
  padding-right: 2px;
}

.about {
  width:80%;
  margin: 20px auto;
  border:4px solid black;
  padding:20px;
  box-shadow:2px 2px 2px 2px lightgrey;
  background-image: url("../assets/marble.png");
  background-size: cover;
  background-position: center;
}

.section_body {

}

.section_footer {
  color:lightgrey;
  text-align: center;
  padding:10px;
}

footer {
  background-color: rgb(192, 25, 198);
  padding:20px;
}
