* {
    box-sizing: border-box;
    margin:0;
}

#site-body {
    background-color: lightskyblue;
    color:darkblue;
    font-family: monospace;
    margin:0;
    background: url("./assets/background_tiled.jpg");
    background-size: 20%;
}

main {
    width:80%;
    margin:auto;

}

#site-header {
    background-color: beige;
    padding:20px;
    border-bottom: 2px solid darkblue;
    margin-bottom: 50px;
    box-shadow: 0px 3px 1px 0px rgba(0, 0, 139, 0.3);

}

.header-wrapper {
    display: flex;
    justify-content: space-between;

}

.portal-wrapper {
    padding:25px;
    background-color: lightcyan;
    box-shadow: 3px 3px 1px 0px rgba(0, 0, 139, 0.3);
    margin-bottom:50px;

    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    border: 2px solid darkblue;
}

.portal-item {
    width:300px;
    height:300px;
    background:white;
    border: 2px solid darkblue;
    box-shadow: 3px 3px 1px 0px rgba(0, 0, 139, 0.3);
    padding: 20px;
    margin:20px;
    cursor:pointer;
    font-weight: bold;
    font-size:2em;

    display:flex;
    align-items: center;
    justify-content: center;
}

.portal-item:hover {
    box-shadow: none;
    border-color: darkslateblue;
    color:darkslateblue;
}
